name: Run Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  tests:
    name: Tests - Ubuntu 22.04
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev libgumbo-dev libwebsockets-dev nlohmann-json3-dev libyaml-cpp-dev libcli11-dev libboost-all-dev libabsl-dev cppcheck

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Build
      run: |
        cmake --build build --config Release

    - name: Run Unit Tests
      working-directory: build
      run: |
        ctest -C Release -E IntegrationTest --output-on-failure

    - name: Run Integration Tests
      working-directory: build
      run: |
        ctest -C Release -R IntegrationTest --output-on-failure
